<h2>
<% if @step %>
	<%= batch_link_for(@batch) %> &gt; <%= @command.name %>
<% else %>
	<%= batch_link_for(@batch) %> &gt; <%= @client.display_name %>
<% end %>
</h2>

<table class="table">
	<thead>
		<tr>
			<% if @step %>
				<th>Client</th>
			<% else %>
				<th>Index</th>
					<th>Command</th>
			<% end %>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @invocations.each do |invocation| %>
			<tr>
				<% if @step %>				
					<td><%= client_link_for(invocation.client) %></td>
				<% else %>
					<td><%= invocation.step.index %></td>
					<td><%= command_link_for(invocation.step.command) %></td>
				<%end %>
				<td><%= invocation_status_link_for(invocation) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
