<h2><%= batch_link_for(@batch) %> &gt; <%= @command.name %> &gt; <%= @client.display_name %></h2>

<div class="attribute">
	<div class="attribute-name">Status</div>
	<div class="attribute-value"><%= invocation_status_for(@invocation) %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Last Updated</div>
	<div class="attribute-value"><%= @invocation.updated_at %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Remote Standard Output</div>
	<div class="attribute-value"><%= print_blankable(@invocation.standard_output) %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Remote Standard Error</div>
	<div class="attribute-value"><%= print_blankable(@invocation.standard_error) %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Local Error</div>
	<div class="attribute-value"><%= print_blankable(@invocation.error) %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Local ID</div>
	<div class="attribute-value"><%= @invocation.id %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Remote ID</div>
	<div class="attribute-value"><%= @invocation.client_guid %></div>
</div>
