<h2>
<% if @batch_command %>
	<%= batch_link_for(@batch) %> &gt; <%= @command.name %>
<% else %>
	<%= batch_link_for(@batch) %> &gt; <%= @rcx_client.display_name %>
<% end %>
</h2>

<table class="table">
	<thead>
		<tr>
			<% if @batch_command %>
				<th>Client</th>
			<% else %>
				<th>Index</th>
					<th>Command</th>
			<% end %>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @client_batch_commands.each do |client_batch_command| %>
			<tr>
				<% if @batch_command %>				
					<td><%= rcx_client_link_for(client_batch_command.rcx_client) %></td>
				<% else %>
					<td><%= client_batch_command.batch_command.index %></td>
					<td><%= command_link_for(client_batch_command.batch_command.command) %></td>
				<%end %>
				<td><%= client_batch_command_status_link_for(client_batch_command) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
