<h2>
	<%= @client.display_name %>
</h2>


<div class="attribute">
	<div class="attribute-name">Source</div>
	<div class="attribute-value"><%= @client.class.display_name %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Last Updated</div>
	<div class="attribute-value"><%= @client.updated_at %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Agent Endpoint URL</div>
	<div class="attribute-value"><%= @client.agent_endpoint_url %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Local ID</div>
	<div class="attribute-value"><%= @client.id %></div>
</div>