
<h3>
<% if @step %>
	<%= link_to @batch.name, @batch %> &gt; <%= @step.index %>. <%= @command.name %>
<% else %>
	<%= link_to @batch.name, @batch %> &gt; <%= @rcx_client.display_name %>
<% end %>
</h3>

<table class="table">
	<thead>
		<tr>
			<% if @step %>
				<th>Client</th>
			<% else %>
				<th>Index</th>
					<th>Command</th>
			<% end %>
			<th>Status</th>
			<th>Exit Code</th>
			<th>Standard Output</th>
			<th>Standard Error</th>
		</tr>
	</thead>
	<tbody>
		<% @step_instances.each do |step_instance| %>
			<tr>
				<% if @step %>				
					<td><%= step_instance.rcx_client.display_name %></td>
				<% else %>
					<td><%= step_instance.step.index %></td>
					<td><%= link_to step_instance.step.command.name, step_instance.step.command %></td>
				<%end %>
				<td><%= step_instance.status %></td>
				<td><%= step_instance.exit_code %></td>
				<td><%= step_instance.standard_output %></td>
				<td><%= step_instance.standard_error %></td>
			</tr>
		<% end %>
	</tbody>
</table>
