<h2>My Batches</h2>

<p id="no_batches_msg"<%= ' style="display: none;"'.html_safe if @batches.any? %>>There are no batches.</p>
<table class="table" id="batches_table" <%= ' style="display: none;"'.html_safe unless @batches.any? %>>
	<thead>
		<tr>
			<th>Name</th>
			<th>Last Updated At</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @batches.each do |batch| %>
			<tr>
				<td><%= link_to batch.name, batch %></td>
				<td><%= batch.updated_at %></td>
				<td><%= batch_status_for(batch) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if can_create_batch? %>
	<%= link_to 'New Batch', new_batch_path %>
<% else %>
	To create a batch, ensure that you have added some <%= link_to 'clients', clients_path %> and some <%= link_to 'commands', commands_path %>.
<% end %>