<h2><%= @batch.name %></h2>
<div class="attribute">
	<div class="attribute-name">Status</div>
	<div class="attribute-value"><%= batch_status_for(@batch) %></div>
</div>
<div class="attribute">
	<div class="attribute-name">Last Updated</div>
	<div class="attribute-value"><%= @batch.updated_at %></div>
</div>
<h3>Clients</h3>
<%= render 'clients/clients_list', clients: @batch.clients, batch: @batch %>

<h3>Commands</h3>
<%= render 'steps/steps_list', steps: @batch.steps %>
