<h2><%= @batch.name %> &gt; Finish</h2>
<h3>Clients</h3>
<%= render 'clients/clients_list', clients: @batch.clients %>


<h3>Commands</h3>
<%= render 'batch_commands/steps_list', batch_commands: @batch.batch_commands, statuses: false %>

<%= form_for @batch, url: wizard_path do |form| %>
	<%= form.submit 'Start Batch', name: 'start_batch' %>
	<%= form.submit 'Cancel', name: 'delete_batch' %>
<% end %>
