<h2><%= @batch.name %> &gt; Finish</h2>
<h3>Clients</h3>
<%= render 'clients/clients_list', clients: @batch.clients %>


<h3>Commands</h3>
<%= render 'steps/steps_list', steps: @batch.steps, statuses: false %>

<%= form_for @batch, url: wizard_path do |form| %>
	<%= form.submit 'Start Batch', name: 'start_batch' %>
	<%= form.submit 'Cancel', name: 'delete_batch' %>
<% end %>
