<h2><%= @batch.name %> &gt; Select Clients</h2>
<%= render 'shared/errors', obj: @batch %>

<%= form_for @batch, url: wizard_path do |form| %>
	<div class="field form-group">
		<% current_user.clients.each do |client| %>
			<%= check_box_tag "batch[client_ids][]", client.id, @batch.client_ids.include?(client.id) %>
			<%= client.display_name %><br/>
		<% end %>
	</div>
	<div>
		<%= form.submit "Select Commands" %>
	</div>
<% end %>