<h2><%= @batch.name %> &gt; Add Commands</h2>
<%= render 'shared/errors', obj: @batch %>

<h3>Clients</h3>
<%= render 'clients/clients_list', clients: @batch.clients %>

<h3>Commands</h3>
<%= render 'steps/steps_list', steps: @batch.steps, statuses: false %>

<h3>New Command</h3>
<%= form_for @batch, url: wizard_path do |form| %>
	<div class="field form-group">
		<%= select_tag "command_id_for_new_step", options_from_collection_for_select(Command.all, "id", "name") %>
	</div>
	<div>
		<%= form.submit 'Add Command' %>
		<%= ('or ' + (link_to 'Finished', batch_after_batch_creation_path(@batch.id, :finish))).html_safe unless @batch.steps.empty? %>
</div>
<% end %>